/*general styles*/
.d-flex {
    display: flex;
}

.back-btn {
    display: inline-flex;
    align-items: center;
    background-color: var(--elements-color);
    box-shadow: 0 0 3px var(--elements-box-shadow);
    font-weight: 300;
    margin-bottom: 3em;
    padding: .4em 1.85em;
    border-radius: .315em;
    font-size: 1rem;
    gap: 0.3em;
}

.flag-wrapper {
    position: relative;
    order: -1;
    box-shadow: 0 0 10px var(--elements-box-shadow);
}

.flag {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.fx-direction--column {
    flex-direction: column;
}

.fw-800 {
    font-weight: 800;
}

.fw-600 {
    font-weight: 600;
}

.txt-caps {
    text-transform: capitalize;
}

.checked {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0D9276;
    text-shadow: 0 0 1px #0D9276;
    font-weight: 600;
}

.checked:after {
    content: '';
    display: inline-block;
    background-image: url("./assets/check.svg");
    width: 20px;
    height: 20px;
}

/*header styles*/
#root:has(.search-input:not(:placeholder-shown)) {
    position: fixed;
}

.header {
    background-color: var(--elements-color);
    box-shadow: 0 0 3px var(--elements-box-shadow);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20000;
    padding: 1.65em 1.15em;
    width: 100%;
    margin-bottom: 2em;
}

.header a {
    font-size: clamp(1.1875rem, 0.9708rem + 0.9245vw, 1.5625rem);
}

.header a:hover {
    color: inherit;
}

.header button {
    display: flex;
    align-items: center;
    gap: .25em;
    font-size: .925rem;
    text-transform: capitalize;
}

.header button > svg {
    font-size: 1.25rem;
}

/* main styles*/
.main {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;
}

.main:has(> .main-nav > .search-container input:not(:placeholder-shown)):before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    inset: 0;
    z-index: 600;
    transition: background-color 300ms ease-in-out;
}

.main > .main-nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
    margin-bottom: 2.25em;
}

.search-container {
    position: relative;
    width: min(100%, 500px);
    z-index: 2000;

}
.search-container:has(input:placeholder-shown) .results-container,
.search-container:has(input:placeholder-shown) .results-container > * {
    height: 0;
    opacity: 0;
    visibility: hidden;
}
.search-container:has(input:not(:placeholder-shown)) .results-container,
.search-container:has(input:not(:placeholder-shown)) .results-container > * {
    opacity: 1;
    visibility: visible;
    transition: opacity 150ms ease-in-out;
}

.main-nav .input-container {
    background-color: var(--elements-color);
    align-items: center;
    padding-block: .15em;
    padding-inline: 1.5em;
    gap: 1.35em;
    border-radius: 0.335em;
    border: 1px solid var(--input-border-color);
    box-shadow: 0 0 3px var(--elements-box-shadow);
    height: 45px;
}

.main-nav .input-container:has(:focus-visible) {
    outline: 4px auto -webkit-focus-ring-color;
}

.main-nav .input-container > svg {
    color: var(--input-color);
    font-size: 1.45rem;
}

.main-nav .input-container > input {
    background-color: inherit;
    color: inherit;
    border-color: transparent;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

.main-nav .input-container input::placeholder {
    font-weight: 300;
    color: var(--input-color);
    font-size: .925rem;
}

.main-nav .input-container input:focus,
.main-nav .input-container input:focus-visible {
    outline-width: 0;
}

.results-container {
    position: absolute;
    width: 100%;
    border-radius: .335em;
}

.results-container > div {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .65em .5em;
}

.results-container > div p {
    font-size: .85rem;
}

.results-container button {
    align-items: center;
    color: #FF4545;
    font-size: 2rem;
}

.results-container > ul {
    background-color: var(--elements-color);
    padding: 1.5em;
    border-radius: inherit;
    max-height: 330px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.result-links {
    display: block;
    margin-bottom: 1.25em;
}

.result-links:last-child {
    margin-bottom: 0;
}

.result-links > figure {
    align-items: center;
    gap: 1em;
}

.result-links img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 6px var(--elements-box-shadow);
}

.result-links figcaption {
    overflow: hidden;
}

.result-links h1 {
    font-size: .956rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-links p {
    font-size: .9rem;
}

.filter-container {
    position: relative;
    width: 200px;
}

.tags-container button {
    font-weight: 300;
}

.dropdown-btn {
    display: inline-flex;
    background-color: var(--elements-color);
    box-shadow: 0 0 3px var(--elements-box-shadow);

    width: inherit;
    font-size: .945rem;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.dropdown-btn > svg {
    font-size: 1.15rem;
}

.dropdown-btn-toggled > svg {
    color: #FF4545;
}

.dropdown-btn, .tags-container {
    padding-inline: 1.35em;
    border-radius: 0.335em;
}

.dropdown-btn + .tags-container {
    height: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.dropdown-btn.dropdown-btn-toggled + .tags-container {
    --trs-delay: 300ms;
    height: auto;
    max-height: 350px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0ms, max-height 600ms cubic-bezier(.57, .21, .69, 1.25), opacity 300ms ease-in-out 100ms;
}

.dropdown-btn + .tags-container button {
    font-size: .925rem;
    margin-bottom: .4em;
}

.dropdown-btn + .tags-container button:hover {
    color: #0D9276;
    font-weight: 500;
}

.dropdown-btn + .tags-container > button:last-child {
    margin-bottom: 0;
}

.tags-container {
    background-color: var(--elements-color);
    box-shadow: 0 0 6px var(--elements-box-shadow);

    position: absolute;
    top: 3em;
    z-index: 100;
    width: 100%;
    padding-block: 1em;
}

.countries-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    justify-items: center;
    padding-inline: 2em;
    gap: 3em;
}

.countries-container > .country-card {
    background-color: var(--elements-color);
    box-shadow: 0 0 6px var(--elements-box-shadow);
    border-radius: 0.325em;
    width: min(100%, 325px);
}

.countries-container > .country-card .country-info {
    padding: 1.5em 1.15em 2em;
}

.countries-container > .country-card .country-info h1 {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.25rem;
    margin-bottom: .5em;
}

.countries-container > .country-card .country-info p {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: .25em;
}

.countries-container > .country-card .country-info p > span {
    margin-right: .25em;
}

.countries-container > .country-card figure {
    height: 165px;
    border-start-start-radius: 0.325em;
    border-start-end-radius: 0.325em;
}

.filter-tag {
    width: inherit;
    text-align: left;
}

.btn-top {
    position: fixed;
    bottom: 3em;
    right: 1em;
}

.btn-top > svg {
    font-size: 3.85rem;
    margin: 0;
}

.details-container {

    padding-inline: 1em;
}

.details-container .page {
    display: grid;
    gap: 2.5em;
    align-items: center;
}

.details-container .page section > h1 {
    font-size: 1.7rem;
    margin-bottom: .5em;
}

.details-container .page section > .details-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2.5em;
    margin-bottom: 2.5em;
}

.details-container .page section > .details-wrapper p {
    display: flex;
    align-items: center;
    gap: .35em;
    font-weight: 300;
    margin-bottom: .6em;
}

.details-container .page section > .details-wrapper p > span {
    text-wrap: nowrap;
    align-self: start;
}

.details-container .page section > .borders {
    margin-bottom: 2.5em;
}

.details-container .page section > .borders-none {
    font-size: 1rem;
}

.details-container .page section > .borders-none,
.details-container .page section > .borders h2 {
    margin-bottom: 1em;
}

.details-container .page section > .borders h2 {
    font-size: 1.15rem;
    margin-bottom: 1em;
}

.details-container .page section > .borders > div {
    display: flex;
    gap: .75em;
    flex-wrap: wrap;
}

.details-container .page section > .borders .country-link {
    background-color: var(--elements-color);
    box-shadow: 0 0 3px var(--elements-box-shadow);
    font-weight: 300;
    padding: .4em 1.25em;
    border-radius: .315em;
    font-size: .875rem;

}

.details-container .page section > .borders .country-link:focus,
.details-container .page section > .borders .country-link:hover {
    outline: 4px auto -webkit-focus-ring-color;
}

.details-container .page > figure {
    height: fit-content;
    width: fit-content;
}

.err-container {
    height: 100%;
    align-items: center;
}

.err-container > div {
    align-items: center;
    margin: auto;
}

.err-container > div figure {
    margin: auto;
}

.err-container > div figure svg {
    font-size: 13rem;
    margin-bottom: .4em;
}

.err-container .back-btn {
    align-self: start;
}

.param {
    color: #FF4545;
}

@media only screen and (min-width: 625px) {
    .header {
        padding: 1.15em 4em;
    }

    .main {
        padding-inline: 4em;
    }

    .main .main-nav {
        grid-template-columns: minmax(250px, 1fr) 200px;
    }

    .filter-container {
        justify-self: right;
    }

    .countries-container {
        padding-inline: .25em;
    }

    .details-container {
        padding-inline: 2.25em;
        width: min(100%, 800px);
        margin: auto;
    }

    .borders {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: .65em;
        align-items: center;
    }

    .details-container .page section > .borders h2 {
        align-self: start;
        margin-bottom: 0;
    }

    .details-container .page section > h1 {
        margin-bottom: .85em;
    }
}

@media only screen and (min-width: 1024px) {
    .details-container {
        padding-inline: .25em;
        width: 100%;
    }

    .details-container .page {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 8em;
    }

    .details-container .page section > .details-wrapper {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .details-container .page > figure {
        height: fit-content;
        width: fit-content;
    }

    .details-container .page > figure img {
        object-fit: contain;
    }
}

/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
